<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Smart Coginitive Medicaid System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
      </li>

      <li ngbDropdown class="nav-item dropdown ">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Register
        </a>
        <div ngbDropdownMenu class="dropdown-menu  " aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" [routerLink]="['/register']" routerLinkActive="router-link-active" >Doctor</a>
          <a class="dropdown-item" [routerLink]="['/registerp']" routerLinkActive="router-link-active" >Patient</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
      <h3>Register Doctor</h3>
      <form #f="ngForm"
            (ngSubmit)="onSubmit(f)">

          <div class="form-group">
              <label for="registerEmail">Username</label>
              <input type="email"
                     name="email"
                     ngModel
                     required
                     #email="ngModel"
                     class="form-control"
                     id="registerEmail"
                     placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="loginRole">Role</label>
            <input type="text" name="role" ngModel required #username="ngModel"
                   name="role"
                   ngModel
                   required
                   #username="ngModel"
                   class="form-control"
                   id="loginRole"
                   placeholder="Enter Role">
        </div>
          <div class="form-group">
              <label for="registerPassword">Password</label>
              <input type="password"
                     name="password"
                     ngModel
                     required
                     #password="ngModel"
                     class="form-control"
                     id="registerPassword"
                     placeholder="Password">
          </div>

          <button type="submit"
                  [disabled]="f.invalid"
                  class="btn btn-primary">Register <i class="fas fa-sign-in-alt"></i></button>
      </form>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    Medicaid App Developed by Team-28 @CDAC MUMBAI
  </div>
</nav>
