
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('/assets/images/doc.jpg');
  background-size: cover;
  background-position: center center;
}

/* .footer{
  background:rgba(0,0,0,0.7);
    font-size: 20px;
	display: flex;
	flex-direction: column;
	color:rgb(255, 255, 255);
	padding:10px;
	height: 6vh;
	justify-content: center;
	align-items: center;
	margin-top: 60vh;
} */