

<!-- <h3> View patient History</h3>
<div>
    <div>
        <label> <b> First Name : </b></label>  {{ history.pname }}
    </div>
    <div>
        <label> <b> Last Name : </b></label> {{history.psurname}}
    </div>
    <div>
        <label> <b> Age : </b></label> {{history.age}}
    </div>
    <div>
        <label> <b> mobile : </b></label> {{history.mob_no}}
    </div>
    <div>
        <label> <b> Date visited to Hospital : </b></label> {{history.date_visited}}
    </div>
    <div>
        <label> <b> reason for visit : </b></label> {{history.reason_for_visit}}
    </div>
    <div>
        <label> <b> symptoms : </b></label> {{history.symptoms}}
    </div>
    <div>
        <label> <b> medicine_Prescribed : </b></label> {{history.medicine_Prescribed}}
    </div>
    <div>
        <label> <b> allergy_if_any : </b></label> {{history.allergy_if_any}}
    </div>
    <div>
        <label> <b> is_admitted : </b></label> {{history.is_admitted}}
    </div>
    <div>
        <label> <b> date_of_admitted : </b></label> {{history.date_of_admitted}}
    </div>
    <div>
        <label> <b> date_of_released : </b></label> {{history.date_of_released}}
    </div>
    <div>
        <label> <b> test_Done : </b></label> {{history.test_Done}}
    </div>
    <div>
        <label> <b> hosp_name : </b></label> {{history.hosp_name}}
    </div>
    <div>
        <label> <b> doctor_Name : </b></label> {{history.doctor_Name}}
    </div>
    <div>
        <label> <b> doctor_Designation : </b></label> {{history.doctor_Designation}}
    </div>
    <div>
        <label> <b> hosp_address : </b></label> {{history.hosp_address}}
    </div>

</div> -->

<nav class="navbar  fixed-top navbar-expand-lg navbar-dark  fixed-top" style="background-color: #2082c9;">
    <div class="container">
      <a class="navbar-brand">Smart Coginitive Medicaid System </a>
      <button (click)="toggleNav()" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" [ngClass]="{'show': navToggle}">
          <ul class="navbar-nav ml-auto">
  
              <li class="nav-item">
                  <a href="javascript:void(0)" class="nav-link" (click)="logout()">Logout</a>
              </li>
            </ul>
      </div>
    </div>
  </nav>
  
  
  <div class="container p-2 m-7" style="margin-top: 7px;">

      <h2> View patient History</h2>
      <table style="width:100%">
        <tr>
           <th> <b> First Name : </b></th> 
           <td>{{ history.pname }}</td>
        </tr>
        <tr>
            <th> <b> Last Name : </b></th>
            <td>{{history.psurname}}</td>
        </tr>
        <tr>
            <th> <b> Age : </b> </th>
            <td>{{history.age}}</td>
        </tr>
      <tr>
          <th> <b> mobile : </b></th> 
          <td>{{history.mob_no}}</td>
     </tr>
     <tr>
         <th> <b> Date visited to Hospital : </b></th> 
         <td>{{history.date_visited}}</td>
        </tr>
        <tr>
            <th> <b> reason for visit : </b></th> 
            <td>{{history.reason_for_visit}}</td>
        </tr>
        <tr>
            <th> <b> symptoms : </b></th> 
            <td>{{history.symptoms}}</td>
        </tr>
        <tr>
            <th> <b> medicine_Prescribed : </b></th> 
            <td>{{history.medicine_Prescribed}}</td>
      </tr>
      <tr>
          <th> <b> allergy_if_any : </b></th>
          <td>{{history.allergy_if_any}}</td>
        </tr>
        <tr>
            <th> <b> is_admitted : </b></th>
            <td>{{history.is_admitted}}</td>
        </tr>
        <tr>
            <th> <b> date_of_admitted : </b></th> 
            <td>{{history.date_of_admitted}}</td>
        </tr>
      <tr>
          <th> <b> date_of_released : </b></th> 
          <td>{{history.date_of_released}}</td>
        </tr>
        <tr>
            <th> <b> test_Done : </b></th> 
            <td>{{history.test_Done}}</td>
        </tr>
        <tr>
            <th> <b> hosp_name : </b></th>
            <td>{{history.hosp_name}}</td>
        </tr>
    </table>
    
</div>