*{
  margin: 0;
  padding: 0;
}
.wrapper{
  width: 1170px;
  margin:auto;
}

header{
  background: linear-gradient(rgba(1,0,0,1),rgba(0, 0, 0, 0.1)),url("src/assets/images/view1.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.nav-area{
  float: right;
  list-style: none;
  margin-top: 50px;
}
.nav-area li{
  display: inline-block;
}
.nav-area li a{
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  font-family:'Times New Roman', Times, serif;
  font-size: 25px;
}

.nav-area li a:hover{
  background: #fff;
  color: #333;
}
.logo img{
  width: 100px;
  margin-top: 20px;
  float: left;
  height: auto;
}
.welcome-text{
  position:absolute;
  width: 600px;
  height: 300px;
  margin: 20% 30%;
  text-align:center;
}
.welcome-text{
  text-align:center;
  color: rgb(173, 233, 203);

  font-size: 25px;
}
.welcome-text a{
      border: 1px solid #fff;
      padding: 10px 25px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 20px;
      display:inline-block;
      color: #fff;
}

