
<nav class="navbar  fixed-top navbar-expand-lg navbar-dark  fixed-top" style="background-color: #191b1b;">
    <div class="container">
      <a class="navbar-brand text-warning" [routerLink]="['/dashboard1']" routerLinkActive="router-link-active" >Smart Coginitive Medicaid System </a>
      <button (click)="toggleNav()" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse p-3 " id="navbarResponsive" [ngClass]="{'show': navToggle}">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active"> 
                  <a href="javascript:void(0)" class="nav-link" (click)="logout()">Logout</a>
              </li>
            </ul>
      </div>
    </div>
  </nav>
  
  <body>
    
    <header>
        <div class="wrapper">
            <div class="logo">
                <img src="assets\images\logo.png" alt="">
            </div>

        </div>
            <div class="welcome-text">
                <h1>Manage Patient History</h1>
                <a (click) = "add()" class="btn btn-outline-info btn-lg" role="button">Add</a>
                <a (click) = "selectPatient()" class = "btn btn-outline-info btn-lg"> View </a>  
            </div>
    </header>
</body>
<div>

