
<nav class="navbar  fixed-top navbar-expand-lg navbar-dark  fixed-top" style="background-color: #101213;">
  <div class="container">
    <a class="navbar-brand text-warning">Smart Coginitive Medicaid System </a>
    <button (click)="toggleNav()" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse p-3" id="navbarResponsive" [ngClass]="{'show': navToggle}">
        <ul class="navbar-nav ml-auto">
         
            <li class="nav-item active">
             
                <a href="javascript:void(0)" class="nav-link" (click)="logout()">Logout</a>
            </li>
          </ul>
    </div>
  </div>
</nav>

<body>
  <header>
      <div class="wrapper">
          <div class="logo">
              <img src="assets\images\logo.png" alt="">
          </div>

      </div>
              
      <div class="welcome-text">
        <h1>View Your History</h1>
        <a (click) = "showData()" class = "btn btn-outline-info btn-lg"> show Data</a> 
      </div>
  </header>
</body>
<div>

  <nav class="navbar  mt-5 p-3 fixed-bottom navbar-expand-lg navbar-dark  fixed-bottom" style="background-color: #141414;">
    <div class="navbar-expand m-auto navbar-text">
      Medicaid App Developed by Team-28 @CDAC MUMBAI
    </div>
  </nav>
  